/* app.component.css */

/* Стили для формы добавления задачи */
form {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input,
form select,
form textarea {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

form button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form button:hover {
	background-color: #0056b3;
}

/* Стили для списка задач */
.task-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	list-style-type: none;
	padding: 0;
}

.task-list li {
	flex: 0 0 calc(33.33% - 10px);
	/* 33.33% для 3 задач в строке, 10px для отступов */
	margin: 5px;
	box-sizing: border-box;
}

li div {
	margin-bottom: 10px;
}

li label {
	display: inline-block;
	width: 150px;
	margin-right: 10px;
}

li button {
	padding: 5px 10px;
	margin-right: 5px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

li button:hover {
	background-color: #0056b3;
}