<!-- customer.component.html -->
<div>
	<form (submit)="addCustomer($event)" ngNativeValidate>
		<!-- ID (generated automatically) -->
		<input type="hidden" [(ngModel)]="newCustomer.id" name="id">

		<!-- First Name -->
		<label for="firstName">Имя:</label>
		<input type="text" id="firstName" [(ngModel)]="newCustomer.firstName" name="firstName" required>

		<!-- Last Name -->
		<label for="lastName">Фамилия:</label>
		<input type="text" id="lastName" [(ngModel)]="newCustomer.lastName" name="lastName" required>

		<!-- Contact Info -->
		<label for="contactInfo">Контактная информация:</label>
		<input type="text" id="contactInfo" [(ngModel)]="newCustomer.contactInfo" name="contactInfo" required>

		<!-- History -->
		<label for="history">История:</label>
		<textarea id="history" [(ngModel)]="newCustomer.history" name="history"></textarea>

		<!-- Status -->
		<label for="status">Статус:</label>
		<select id="status" [(ngModel)]="newCustomer.status" name="status" required>
			<option value="active">Активен</option>
			<option value="inactive">Неактивен</option>
		</select>

		<button type="submit">Добавить клиента</button>
	</form>

	<ul class="list">
		<li *ngFor="let customer of customers">
			<div>
				<form (submit)="updateCustomer($event, customer)" ngNativeValidate>
					<!-- Форма редактирования для каждого клиента -->
					<div>
						<label>Имя:</label>
						<input [(ngModel)]="customer.firstName" name="firstName" required>
					</div>
					<div>
						<label>Фамилия:</label>
						<input [(ngModel)]="customer.lastName" name="lastName" required>
					</div>
					<div>
						<label>Контактная информация:</label>
						<input [(ngModel)]="customer.contactInfo" name="contactInfo" required>
					</div>
					<div>
						<label>История:</label>
						<textarea [(ngModel)]="customer.history" name="history"></textarea>
					</div>
					<div>
						<label>Статус:</label>
						<select [(ngModel)]="customer.status" name="status" required>
							<option value="active">Активен</option>
							<option value="inactive">Неактивен</option>
						</select>
					</div>
					<button type="submit">Сохранить изменения</button>
					<button (click)="deleteCustomer(customer.id)">Удалить</button>
				</form>
			</div>
		</li>
	</ul>
</div>